$maxWidth: 960px;
$columns: 3;


.front-page
{
	.container
	{
		max-width: $maxWidth;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax($maxWidth/$columns, 1fr));
		grid-column-gap: 10px;
		grid-row-gap: 10px;
		justify-items: center;

		.content
		{
			background-color: #f3f1f1;
			padding: 10px;
			margin-bottom: 30px;
			transition: 0.1s all;

			&:hover
			{
				background-color: #e3e1e1;
			}
		}
	}
}
